@model Joke
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Edit Joke";
}
    <h1>Edit Joke:</h1>
   @*  <h2>Question:</h2>
    <p>@Model.JokeQuestion</p>
    <h2>Answer:</h2>
    <p>@Model.JokeAnswer</p> *@
    <form method="post" asp-controller="Joke" asp-action="Edit">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="id" />
        <label asp-for="JokeQuestion"></label>
        <input type="text" asp-for="JokeQuestion" />
        <label asp-for="JokeAnswer"></label>
        <input type="text" asp-for="JokeAnswer" />

        <button type="submit">Save</button>
    </form>

