@model Joke
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Answer";
}
    <h2>Question:</h2>
    <p>@Model.JokeQuestion</p>
    <h2>Answer:</h2>
    <p>@Model.JokeAnswer</p>
    @* <a href="/Joke">Back</a> *@
    <a asp-controller="Joke" asp-action="Index">Back</a>
