@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "All Products";
}
<div>
    <h1>All Products</h1>
    <partial name="_TextPartialView"></partial>
</div>


@* <!DOCTYPE html>
<html>
<head>
    <title>All Products</title>
    <meta charset="UTF-8" />
</head>
<body>
       <h1>All Products</h1>
</body>
</html> *@